# TEXT MINING for PRACTICE
- 본 자료는 텍스트 마이닝을 활용한 연구 및 강의를 위한 목적으로 제작되었습니다.
- 본 자료를 강의 목적으로 활용하고자 하시는 경우 꼭 아래 메일주소로 연락주세요.
- 본 자료에 대한 허가되지 않은 배포를 금지합니다.
- 강의, 저작권, 출판, 특허, 공동저자에 관련해서는 문의 바랍니다.
- **Contact : FINGEREDMAN(fingeredman@gmail.com)**

---

## WEEK 02-2. Python에서 패턴을 정규식으로 표현하기
- Python에서 정규식을 활용하여 패턴을 인식하는 방법에 대해 다룹니다.

---

### Assignment 02-1. 트위터에서 전화번호 추출하기
> - 본 자료를 응용하여 트위터 내용에서 전화번호를 추출하는 코드를 작성합니다.
> - 전화번호로 가능한 모든 패턴을 가져와 개수를 파악합니다.  
> - 전화번호를 "[TEL]010-1234-5678[TEL]" 형식으로 변환하여 새로은 파일을 생성합니다.
> - 트위터 텍스트는 "data/twitter_sample.txt" 파일을 활용합니다.

> HINT. 전화번호를 표현하는 방법은 여러가지 패턴이 존재합니다. (010-1234-5678, 02-123-1234, 1588-1588, ...)

---

In [0]:
import re

def find_phone_number(text):
    found = re.findall(r"\D{2}\d{3}-\d{4}\s", text)                 # 123-5678
    found += re.findall(r"\D{2}\d{3}\s-\s\d{4}\s\D{3}", text)       # 123 - 5678
    found += re.findall(r"\D{1}\d{3}-\d{3}-\d{4}", text)            # 042-123-5678
    found += re.findall(r"\D{1}\d{3}\s-\s\d{3}\s-\s\d{4}", text)    # 042 - 123 - 5678
    found += re.findall(r"\d{4}-\d{3}-\d{4}", text)                 # 0707-123-5678
    found += re.findall(r"\d{3}\)\d{3}-\d{4}", text)                # 042)123-5678
    found += re.findall(r"\(\d{3}\)\d{3}-\d{4}", text)              # (042)123-5678
    found += re.findall(r"\D{1}\d{2}-\d{3}-\d{4}", text)            # 02-123-5678
    found += re.findall(r"\D{1}\d{2}\)\d{3}-\d{4}", text)           # 02)123-5678
    found += re.findall(r"\(\d{2}\)\d{3}-\d{4}", text)              # (02)123-5678
    found += re.findall(r"\d{3}-\d{4}-\d{4}", text)                 # 010-1234-5678
    found += re.findall(r"\d{3}\s-\s\d{4}\s-\s\d{4}", text)         # 010 - 1234 - 5678
    found += re.findall(r"\d{3}\)\d{4}-\d{4}", text)                # 010)1234-5678
    found += re.findall(r"\(\d{3}\)\d{4}-\d{4}", text)              # (010)1234-5678
    found += re.findall(r"\d{3}\s\d{4}\s\d{4}", text)               # 010 1234 5678
    found += re.findall(r"\D010\d{4}\d{4}", text)                   # 01012345678
    extra_number_list = [1588, 1577, 1899, 1566, 1600, 1544, 1644, 1661, 1688, 1599]  # 전국전화번호 리스트
    for extra_number in extra_number_list:
        found += re.findall(r""+ str(extra_number) + "-\d{4}", text)    # 1588-5588
    for extra_number in extra_number_list:
        found += re.findall(r""+ str(extra_number) + "\d{4}", text)     # 15885588
    for extra_number in extra_number_list:
        found += re.findall(r""+ str(extra_number) + "\s\d{4}", text)   # 1588 5588
    return found

In [0]:
def tag_phone_number(text):
    text = re.sub(r"\D{2}(\d{3})-(\d{4})\s", r"[TEL]\g<1>-\g<2>[TEL]", text)
    text = re.sub(r"\D{2}(\d{3})\s-\s(\d{4})\s\D{3}", r"[TEL]\g<1>-\g<2>[TEL]", text)
    text = re.sub(r"\D{1}(\d{3})-(\d{3})-(\d{4})", r"[TEL]\g<1>-\g<2>-\g<3>[TEL]", text)
    text = re.sub(r"\D{1}(\d{3})\s-\s(\d{3})\s-\s(\d{4})", r"[TEL]\g<1>-\g<2>-\g<3>[TEL]", text)
    text = re.sub(r"(\d{4})-(\d{3})-(\d{4})", r"[TEL]\g<1>-\g<2>-\g<3>[TEL]", text)
    text = re.sub(r"(\d{3})\)(\d{3})-(\d{4})", r"[TEL]\g<1>-\g<2>-\g<3>[TEL]", text)
    text = re.sub(r"\((\d{3})\)(\d{3})-(\d{4})", r"[TEL]\g<1>-\g<2>-\g<3>[TEL]", text)
    text = re.sub(r"\D{1}(\d{2})-(\d{3})-(\d{4})", r"[TEL]\g<1>-\g<2>-\g<3>[TEL]", text)
    text = re.sub(r"\D{1}(\d{2})\)(\d{3})-(\d{4})", r"[TEL]\g<1>-\g<2>-\g<3>[TEL]", text)
    text = re.sub(r"\((\d{2})\)(\d{3})-(\d{4})", r"[TEL]\g<1>-\g<2>-\g<3>[TEL]", text) 
    text = re.sub(r"(\d{3})-(\d{4})-(\d{4})", r"[TEL]\g<1>-\g<2>-\g<3>[TEL]", text)
    text = re.sub(r"(\d{3})\s-\s(\d{4})\s-\s(\d{4})", r"[TEL]\g<1>-\g<2>-\g<3>[TEL]", text)
    text = re.sub(r"(\d{3})\)(\d{4})-(\d{4})", r"[TEL]\g<1>-\g<2>-\g<3>[TEL]", text)
    text = re.sub(r"\((\d{3})\)(\d{4})-(\d{4})", r"[TEL]\g<1>-\g<2>-\g<3>[TEL]", text)
    text = re.sub(r"(\d{3})\s(\d{4})\s(\d{4})", r"[TEL]\g<1>-\g<2>-\g<3>[TEL]", text)
    text = re.sub(r"\D(010)(\d{4})(\d{4})", r"[TEL]\g<1>-\g<2>-\g<3>[TEL]", text)
    extra_number_list = [1588, 1577, 1899, 1566, 1600, 1544, 1644, 1661, 1688, 1599]
    for extra_number in extra_number_list:
        text = re.sub(r"(" + str(extra_number) + ")-(\d{4})", r"<TEL>\g<1>-\g<2></TEL>", text)
    for extra_number in extra_number_list:
        text = re.sub(r"(" + str(extra_number) + ")(\d{4})", r"<TEL>\g<1>-\g<2></TEL>", text)
    for extra_number in extra_number_list:
        text = re.sub(r"(" + str(extra_number) + ")\s(\d{4})", r"<TEL>\g<1>-\g<2></TEL>", text)
    return text

In [3]:
fr = open("teanaps/data/twitter_sample.txt", encoding="utf-8")
fw = open("twitter_sample_tagged.txt", "w", encoding="utf-8")

count = 0
line_number = 0

for line in fr:
    line_number += 1
    print(line_number, end="\r")
    text = line.strip()
    found = find_phone_number(text)
    count += len(found)
    tagged_text = tag_phone_number(text)
    fw.write(tagged_text + "\n")
    
fr.close()
fw.close()

In [4]:
print("총 전화번호 패턴 개수 :", count)

총 전화번호 패턴 개수 : 172